on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: List Comments
        uses: actions/github-script@v5
        with:
          script: |
            github.rest.issues.listComments({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo
            })

      - name: Create Comment
        uses: actions/github-script@v5
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'This is a test :test_tube:'
            })
